*{
 
margin: 0;
padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
  background-color:white;
  height: 200vh;
  width: 100%;
  display: flex;
  padding-top: 60px;
}
.main{
  height: 600px;
  width: 800px;
  background-color: white;
  margin-left: -1px;
  margin-bottom: -500px;
  border-radius: 25px;
   /* background-color:#d96c48  */



}
.buttons{
  padding-top: 30px;
  padding-left: 300px;
  align-items: center;
}
